node_modules
.DS_Store
.idea
.vscode
.github/.DS_Store
utils/browser
package-lock.json
allure-report/
allure-results/
/tests/**/__snapshots__/
/tests/Authorization/test-user-data-dir/**.*
tests/Authorization/test-user-data-dir/
